# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
build/

# Coverage directory used by tools like istanbul
coverage/

# Static server configuration files
.DS_Store

# IDE/editor configurations
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Temp files
*.tmp
*.swp

# Environment variables
.env.local
.env.*.local

extension/manifest.json
